.bg-color-1-1{
    background-color: #23acc8;
}

.bg-color-1-2{
    background-color: #c9e265;
}

.bg-color-1-3{
    background-color: #ffd6cd;
}

.bg-color-1-4{
    background-color: #c1f7e1;
}

.bg-color-1-5{
    background-color: #e19161;
}

.bg-color-1-6{
    background-color: #03ff03;
}

.bg-color-2-1{
    background-color: #7ed957;
}

.bg-color-2-2{
    background-color: #1685c6;
}

.bg-color-2-3{
    background-color: #e0f8f4;
}

.bg-color-2-4{
    background-color: #ffbd59;
}

.bg-color-2-5{
    background-color: #dee031;
}

.bg-color-2-6{
    background-color: #00ff01;
}


.bg-color-3-1{
    background-color: #00ff01;
}

.bg-color-3-2{
    background-color: #fd0102;
}

.bg-color-3-3{
    background-color: #fe00ff;
}

.bg-color-3-4{
    background-color: #4f8fe3;
}

.bg-color-3-5{
    background-color: #c7d0d8;
}

.bg-color-4-1{
    background-color: #c9e265;
}

.bg-color-4-2{
    background-color: #23acc8;
}

.bg-color-4-3{
    background-color: #c1f7e1;
}

.bg-color-5-1{
    background-color: #ffde59;
}

.bg-color-5-2{
    background-color: #c9e265;
}

.bg-color-5-3{
    background-color: #dee031;
}

.bg-color-5-4{
    background-color: #ff914d;
}


.bg-color-6-1{
    background-color: #e19161;
}

.bg-color-6-2{
    background-color: #ffbd59;
}

.bg-color-6-3{
    background-color: #ffde59;
}