/*Pérez Rosales Eduardo*/
/*420090601*/

/*Estilos para todas las tablas*/

body{
    text-align: center;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    padding-left: 10px;
    padding-right: 10px;
}

.center{
    margin: 0% auto;
}

.text-regular{
    font-weight: 400;
}

/*Bordes para todas las tablas*/
/*Bordes gruesos para contornos de tablas*/
.t1 th, .t1 td, .t1, .t2 th, .t3, .t3 .text-red, .t4{
    border: 2px solid black;
    border-left: 1px solid black;
}

/*Bordes delgados para contornos de celdas*/
.t2 td, .t3 td, .t3 th, .t4 td, .t4 th{
    border: 1px solid black;
}

/*Estilos para la tabla 1*/
.t1 th{
    background-color: #fce4d6;
}

/*Estilos para la tabla 2*/
.t2 .h1{
    background-color: #bf8f00;
}

.t2 .h2{
    background-color: #ffd966;
}

/*Estilos para la tabla 3*/
.text-red{
    color: red;
}

/*Estilos para la tabla 4*/
.t4 .h1{
    background-color: #aeaaaa;
}

.t4 .h2{ 
    background-color: #e7e6e6;
    width: fit-content;
    height: fit-content;
}

.adjust-size{
    width: 70px;
    height: 75px;
    place-items: center;
}

.text-rotate{
    transform: 
        rotate(-45deg)
    
}

.t4 .bt{
    border-top: 2px solid black;
}

.t4 .br{
    border-right: 2px solid black;
}